.App {
  text-align: center;
}

.App-header {
  height: 600px;
  background-image: url(https://s1.1zoom.me/b2756/582/Wine_Stemware_Gray_background_519487_3840x2160.jpg);
  background-size: cover;
}
.itemsLanding {
  width: 100%;
  height: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}


